@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1FFF8;
  --foreground: #FF6F61;
  --primary: #2A2A2A;
  --white: #FFFFFF;
  --border: #2C3E50;
  --border-bottom: #008080;
  --hero: #090F1C;
  --text: #676868;
  --play: #1ABC9C;
  --hero2: #181818;
  --grey: #666666;
  --greys: #1E1E1E;
  --greyadd: #000000;
  --register: #DBF7F2;
  --register-text: #0C0C0C;
  --register-event: #272525;
  --pricing: #8FE3D2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: white;
  z-index: 100;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


